/* Header */
header {
    background-color: skyblue;
    background-image: url(img/pattern.png);
    padding-top: 35px;
}

/* Titolo */
#titolo {
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
}
.testo-grigio {
    color: grey;
    margin: 0px;
}

/* Immagini Tim Berners-Lee */
figure {
    margin: 0px;
    margin-top: 25px;
}

/* Paragrafo e lista */
p {
    font-size: 20px;
}
 .lista {
     font-size: 20px;
     padding-left: 20px;
 }

/* Tabella */

th { color: white;

}

table {
    border-spacing: 0px;
    text-align: left;
    font-size: 20px;
}

/* Paragrafo e foto */
.img-1 {
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    color: white;
    width: 400px;
    height: 220px;
    line-height: 50px;
}

.img-2 {
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    color: white;
    width: 400px;
    height: 220px;
    line-height: 50px;
}